@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger{
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.25;

}

.hamburger-top,
.hamburger-center,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0deg);
    transition:  all 0.5s;

}

.hamburger-top{
    width: 24px;
    height: 2px;
    background-color: black;
}

.hamburger-center{
    width: 24px;
    height: 2px;
    background-color: black;
    transform: translateY(7px);

}

.hamburger-bottom{
    width: 24px;
    height: 2px;
    background-color: black;
    transform: translateY(14px);

}

.open{
    transform: rotate(90deg);
    transform: translateY(0deg);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}


.open .hamburger-center{
   display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}
